@charset "UTF-8";

img {
  max-width: 80%;
  height: auto;
}

section {
  width: 90%;
  height: 400px;
}

div#foto {
  display: flex;
  max-width: 95%;
  margin: 15px auto 10px;
}

img {
  flex: 1 1;
  max-width: 100%;
}