@charset "utf-8";

div#area {
    font: normal 20pt arial;
    background: blue;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: auto;
}